$accent-color: #78C081;
$accent-color-active: #5CCD6A;
$accent-color-hover: #54E165;
$accent-color-disabled: #9CD3A3;
$accent-color-grey: #495D4C;
$accent-color-light-green: #D9FADD;

$xs: 576px;
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1536px;