.stages {
    padding: 0 0 100px;

    &__title {
        margin-bottom: 100px;
    }

    &__scheme {

        &-item {
            position: relative;

            &::before,
            &::after {
                content: "";
                position: absolute;
                background-repeat: no-repeat;
                z-index: -1;
            }
        }

        &>*+* {
            margin-top: 30px;
        }

        &-item:nth-child(odd) {
            max-width: 449px;
        }

        &-item:nth-child(even) {
            margin-left: auto;
            text-align: right;
        }

        &-item:nth-child(1) {

            &::before {
                width: 265px;
                height: 260px;
                top: -66px;
                right: 20px;
                background-image: url(./../img/stages-icon-before-1.svg);
            }

            &::after {
                width: 120%;
                height: 120%;
                top: 100%;
                right: -55%;
                background-image: url(./../img/stages-icon-after-1.svg);
            }
        }

        &-item:nth-child(2) {
            max-width: 540px;

            &::before {
                width: 54%;
                height: 220%;
                top: -59%;
                right: 33%;
                background-image: url(./../img/stages-icon-before-2.svg);
            }

            &::after {
                width: 94%;
                height: 80%;
                top: 111%;
                right: 56%;
                background-image: url(./../img/stages-icon-after-2.svg);
            }
        }

        &-item:nth-child(3) {
            max-width: 496px;

            &::before {
                width: 83%;
                height: 199%;
                top: -65%;
                right: 4%;
                background-image: url(./../img/stages-icon-before-3.svg);
            }

            &::after {
                width: 45%;
                height: 70%;
                top: 120%;
                right: -21%;
                background-image: url(./../img/stages-icon-after-3.svg);
            }
        }

        &-item:nth-child(4) {
            max-width: 625px;

            &::before {
                width: 47%;
                height: 223%;
                top: -51%;
                right: 37%;
                background-image: url(./../img/stages-icon-before-4.svg);
            }

            &::after {
                width: 95%;
                height: 116%;
                top: 142%;
                right: 30%;
                background-image: url(./../img/stages-icon-after-4.svg);
            }
        }

        &-item:nth-child(5) {

            &::before {
                width: 61%;
                height: 235%;
                top: -38%;
                right: 12%;
                background-image: url(./../img/stages-icon-before-5.svg);
            }

            &::after {
                width: 156%;
                height: 137%;
                top: 198%;
                right: -113%;
                background-image: url(./../img/stages-icon-after-5.svg);
            }
        }

        &-item:nth-child(6) {
            max-width: 397px;

            &::before {
                width: 76%;
                height: 154%;
                top: 34%;
                right: 69%;
                background-image: url(./../img/stages-icon-before-6.svg);
            }
        }

        &-item:last-child {
            max-width: unset;
            margin-top: 180px;
            text-align: center;

            &::before {
                width: 35%;
                height: 180%;
                top: 0%;
                right: 32%;
                background-image: url(./../img/stages-icon-before-7.svg);
            }
        }

        &-item>*+* {
            margin-top: 15px;
        }

        &-title {
            font-family: 'Ruberoid', sans-serif;
            font-weight: 500;
            font-size: 35px;
            text-transform: capitalize;
            color: $accent-color;
        }
    }
}

@media (max-width: $lg) {
    .stages {

        &__title {
            max-width: 320px;
            margin-bottom: 25px;
        }

        &__scheme {

            &-item {

                &::before {
                    background-size: 151px;
                }

                &::after {
                    display: none;
                }

                &:nth-child(odd)::before {
                    top: 50%;
                    right: 0;
                }

                &:nth-child(even)::before {
                    top: 0;
                    left: -20%;
                }

                &:nth-child(odd),
                &:nth-child(2),
                &:nth-child(3),
                &:nth-child(4),
                &:nth-child(6),
                &:last-child {
                    max-width: 320px;
                }

                &:last-child {
                    margin-top: 60px;
                    margin-left: auto;
                    margin-right: auto;

                    &::before {
                        right: 50%;
                        transform: translate(50%);
                    }
                }
            }

            &-item>*+* {
                margin-top: 12px;
            }

            &-title {
                font-size: 24px;
            }
        }
    }
}